*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comic Neue', cursive;
}
/* CONTAINER */ 
.container{
    width: 80%;
    background-color: rgba(168, 185, 180, 0.555);
    margin: 0 auto;
}

/* HEADER */ 
header{
    height: 50px;
}
header h1{
    line-height: 50px;
    text-align: center;
    color: purple;
    font-weight: 800;
}

/* PARAGRAFO */
.paragrafo p{
    text-align: center;
    margin: 1rem 0 1rem;
}

/* CARDS */ /*clearfix*/ 
.cards::after{
    content: "";
    display: table;
    clear: both;
}

.cards .coloms{
    padding: 1rem 1rem;
    width: calc(100% / 3);
    float: left;
}

/* PROFILO*//* clearfix */
.profilo{
    background-color: rgba(79, 42, 42, 0.87);
}
.profilo::after{
    content: "";
    display: table;
    clear: both;
}
.profilo img{
    float:left;
    max-width: 20%;
}
/*dimensione carattere più addatability*/
.info{  /*da vedere bene come fare a centrare il testo alla foto*/
    padding: 1%;
}