*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comic Neue', cursive;
}
/* CONTAINER */ 
.container{
    width: 80%;
    background-color: rgba(168, 185, 180, 0.555);
    margin: 0 auto;
}

/* HEADER */ /*bug*/
header{
    height: 50px;
    background-color: orange; /*debug test*/
}
header h1{
    line-height: 50px;
    text-align: center;
    color: purple;
    font-weight: 800;
}

/* PARAGRAFO */
.paragrafo p{
    text-align: center;
}

/* CARDS */ /*clearfix*/ /*bug*/
.cards::after{
    content: "";
    display: table;
    clear: both;
}

.cards .coloms{
    width: calc(100% / 3);
    background-color: aqua;
    float: left;
}